.container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: center; 
  

    
}

.orderContainer{ 
display: flex;
background-color:#ffe398;
/* flex-direction: column; */

/* justify-content: space-between; */
height: 25rem;
width:65%;
/* padding: 1.6rem; */
box-shadow: var(--shadow);
border-radius: 15px;
flex-wrap:wrap;
align-items: center;
justify-content: center; 
/* color: #d53f40; */
font-weight: bold;
font-size: larger;
/* text-shadow: 2px 2px white; */
color: white;
text-shadow:2px 2px 2px  #d53f40;


}

.heading{
    font-size: 2rem;
    font-weight: 600;
    /* flex-wrap:wrap; */
    align-items: center;
justify-content: center; 
}
.statusContainer{
    display: flex;
    gap: 13rem;
    flex-wrap:wrap;
    align-items: center;
     /* position: relative; */
    /* padding-left: 4rem; */
    justify-content: center; 

    
    /* flex-direction: column;  */
   
}

.status{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: left;
    width: 5rem;
    position: relative;
    /* align-items: center; */
    align-items: flex-start;
   /* flex-wrap: wrap;   */
   align-items: center;
justify-content: center; 
   
  
   
}

.status>*{
    fill: #d53f40;
    padding-left: 0.9rem;

    
    
}
.spinner{
    position: absolute;
    left: -0.9rem;
    top: -0.9rem;
    width: 6rem;
}
/* .spinner{
    position: absolute;
    left: -2.6rem;
    top: -2.5rem;
    width: 7rem;
    
} */
.details{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 48%;
    justify-content: space-between;
}
.details>div{
    display: flex;
    justify-content: space-between;
}
.details>div>span:nth-of-type(2)
{
    font-weight: 600;
}

.pending{
    width: max-content;
    background-color: orange;
    padding: 0.5rem .5rem;
    font-size: 0.8rem;
    border-radius: 1rem;
    color:white
}
.completed{
    border-radius: 1rem;
    color: white;
    background-color: rgb(159, 230, 53);
    padding: 0.5rem;
    font-size: 0.8rem;
}