.container {
    contain: content;
    flex-direction: column;
    
}

.heading{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
}

.heading>:nth-child(1)
{
    
    font-size: 1.5rem;
}

.heading>:nth-child(2),.heading>:nth-child(3){
    font-size: 2rem;
    color: #d53f40;
}


.services{
    display: flex;
    align-items: flex-start;
    /* flex-direction: column; */
    margin-top: 3rem;
    gap: 8rem;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    
   
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    gap: 1rem;
    
}

.ImageWrapper{
    width: 20rem;
    height: 20rem;
}

.feature>:nth-child(2)
{
font-weight: bold;
}

.feature>:nth-child(3)
{
    word-wrap: break-word;
    width: 20rem;
    text-align: center;
}


@media screen and (max-width: 1191px) {
    .container {
      position:relative;
      /* max-width: 100%;
      max-height: auto; */
      flex-direction: column;
      
    }
}  
